* {
	--beach-color: #fde9c8;
	--beach-text: #6a4c15;
	--ocean-color: #91cdd2;
}

body {
	font-family: "Fisherman", sans-serif;
	padding: 0;
	margin: 0;
	border: 0;
	position: relative;
	text-align: center;
	line-height: 1.5;
	overflow-x: hidden;
}

@font-face {
	font-family: "Fisherman";
	src: url("/fonts/Fisherman.otf") format("opentype");
}

@font-face {
	font-family: "Futura";
	src: url("/fonts/Futura.ttf") format("truetype");
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
